<section>
    <h2>Signals</h2>
    <app-code-example path="signals/computed-signal">
        <app-computed-signal />
        <app-incrementer />
    </app-code-example>
</section>

<section>
    <h2>Signal</h2>
    <app-code-example path="signals/signal">
        <app-signal />
    </app-code-example>
</section>

<section>
    <h2>Computed</h2>
    <app-code-example path="signals/computed-signal">
        <app-computed-signal />
    </app-code-example>
</section>

<section>
    <h2>Effect</h2>
    <app-code-example path="signals/effect-signal">
        <app-effect-signal />
    </app-code-example>
</section>

<section>
    <h2>Input</h2>
    <app-code-example path="signals/input-signal" [sideBySide]="true" />
</section>

<section>
    <h2>Output</h2>
    <app-code-example path="signals/output-signal/output-signal.component.ts" />
</section>

<section>
    <h2>Model</h2>
    <app-code-example path="signals/model-signal/model-signal.component.ts" />
</section>

<section>
    <h2>Linked Signal</h2>
    <app-code-example path="signals/linked-signal/linked-signal.component.ts" />
</section>
