<section>
    <h2>Control Flow</h2>
    <p>Control flow allows us to dynamically change the DOM.</p>
    <ul>
        <li>Conditional Rendering (if / else / switch)</li>
        <li>Loops (for)</li>
    </ul>
</section>

<section>
    <h2>If & Else (Directive)</h2>
    <app-code-example path="control-flow/conditional/old-if" />
</section>

<section>
    <h2>If & Else (Block syntax)</h2>
    <app-code-example path="control-flow/conditional/new-if" />
</section>

<section>
    <h2>For (Directive)</h2>
    <app-code-example path="control-flow/loops/old-for" />
</section>

<section>
    <h2>For (Block syntax)</h2>
    <app-code-example path="control-flow/loops/new-for" />
</section>

<section>
    <h2>Switch (Directive)</h2>
    <app-code-example path="control-flow/conditional/old-switch" />
</section>

<section>
    <h2>Switch (Block syntax)</h2>
    <app-code-example path="control-flow/conditional/new-switch" />
</section>

<section>
    <h2>Let (New feature)</h2>
    <app-code-example path="templates/let" />
</section>
