<section>
    <h2>Concepts</h2>
    <ul>
        <li>Component</li>
        <li>Directive</li>
        <li>Pipe</li>
        <li>Service</li>
        <li>Module</li>
        <li>ng-container</li>
    </ul>
</section>

<section>
    <h2>Concepts - Component</h2>
    <app-code-example path="concepts/component-concept">
        <app-component-concept />
        <small class="title">Title outside of component</small>
    </app-code-example>
</section>

<section>
    <h2>Concepts - Directive</h2>
    <app-code-example path="concepts/directive-concept">
        <app-directive-concept />
    </app-code-example>
</section>

<section>
    <h2>Concepts - Pipe</h2>
    <app-code-example path="concepts/pipe-concept">
        <app-pipe-concept />
    </app-code-example>
</section>

<section>
    <h2>Concepts - Service</h2>
    <app-code-example path="concepts/service-concept">
        <app-service-concept />
    </app-code-example>
</section>

<section>
    <h2>Concepts - Module</h2>
    <app-code-example path="templates/container" path="concepts/module-concept/module-concept.component.ts" />
</section>

<section>
    <h2>Concepts - ng-container</h2>
    <app-code-example path="templates/container">
        <app-container />
    </app-code-example>
</section>
