<section>
    <h2>SSR</h2>
    <p>Angular support Server Side Rendering (SSR) and has many features to enhance the development experience.</p>
    <ul>
        <li><a href="https://angular.dev/guide/incremental-hydration" target="_blank">Incremental Hydration</a></li>
        <li><a href="https://angular.dev/guide/hydration#how-event-replay-works" target="_blank">Event replay</a></li>
        <li><a href="https://angular.dev/guide/ssr#customizing-build-time-prerendering-ssg"
                target="_blank">Prerendering</a></li>
        <li><a href="https://angular.dev/guide/hybrid-rendering" target="_blank">Hybrid rendering (SSR/CSR/SSG)</a></li>
    </ul>
</section>
