<div class="reveal" #slides>
    <div class="slides">
        <section app-start></section>

        <section app-general></section>

        <section app-concepts></section>

        <section app-basics></section>

        <section app-control-flow></section>

        <section app-components></section>

        <!-- <section app-standalone></section> -->

        <section app-routing></section>

        <section app-signals></section>

        <section app-observables></section>

        <section app-data-loading></section>

        <section app-ssr></section>

        <section app-external></section>

        <section app-end></section>
    </div>
</div>
