<section>
    <h2>Loading data</h2>
    <p>There are many ways to load data in Angular applications. Depending on your project a reactive approach of
        writing your code may be preferred.</p>
</section>

<section>
    <h2>HttpClient</h2>
    <ul>
        <li>Angular has a HttpClient like any other, used to make HTTP requests.</li>
        <li>Observables</li>
        <li><a href="https://angular.dev/guide/http/interceptors" target="_blank">Interceptors</a></li>
    </ul>
</section>

<section>
    <h2>OnInit</h2>
    <app-code-example path="data-loading/init-loading" />
</section>

<section>
    <h2>Observables & Async Pipe</h2>
    <app-code-example path="data-loading/observable-loading" />
</section>

<section>
    <h2>Signals</h2>
    <app-code-example path="data-loading/signal-loading" />
</section>

<section>
    <h2>Resolver</h2>
    <app-code-example path="data-loading/resolver-loading/resolver-loading.component.ts" />
</section>

<section>
    <h2>Resolver with input binding</h2>
    <app-code-example path="data-loading/resolver-loading-input-binding/resolver-loading-input-binding.component.ts" />
</section>
