<section>
    <a href="https://angular.dev/guide/components/lifecycle#during-initialization" target="_blank">
        <h2>Lifecycle Hooks - Initialization</h2>
    </a>
    <img data-preview-image style="width: 50%;" src="/lifecycle-hooks-initialization.png"
        alt="Lifecycle Hooks Diagram" />
</section>

<section>
    <a href="https://angular.dev/guide/components/lifecycle#during-initialization" target="_blank">
        <h2>Lifecycle Hooks - Updates</h2>
    </a>
    <img data-preview-image style="width: 50%;" src="/lifecycle-hooks-updates.png" alt="Lifecycle Hooks Diagram" />
</section>

<section>
    <h2>Interpolation</h2>
    <app-code-example path="basics/interpolation">
        <app-interpolation />
    </app-code-example>
</section>

<section>
    <h2>Bindings</h2>
    <app-code-example path="basics/bindings">
        <app-bindings />
    </app-code-example>
</section>
