<section>
    <h2>General</h2>
    <ul>
        <li>Javascript Framework</li>
        <li>SPA</li>
        <li>Typescript</li>
    </ul>
</section>
<section>
    <h2>Versions</h2>
    <p>Angular releases a new version every 6 months.</p>
    <ul style="column-count: 2; -webkit-column-count: 2; -moz-column-count: 2; gap:100px">
        <li><a href="https://blog.angular.dev/version-9-of-angular-now-available-project-ivy-has-arrived-23c97b63cfa3"
                target="_blank">v9</a>
        </li>
        <li><a href="https://blog.angular.dev/version-10-of-angular-now-available-78960babd41" target="_blank">v10</a>
        </li>
        <li><a href="https://blog.angular.dev/version-11-of-angular-now-available-74721b7952f7" target="_blank">v11</a>
        </li>
        <li><a href="https://blog.angular.dev/angular-v12-is-now-available-32ed51fbfd49" target="_blank">v12</a></li>
        <li><a href="https://blog.angular.dev/angular-v13-is-now-available-cce66f7bc296" target="_blank">v13</a></li>
        <li><a href="https://blog.angular.dev/angular-v14-is-now-available-391a6db736af" target="_blank">v14</a></li>
        <li><a href="https://blog.angular.dev/angular-v15-is-now-available-df7be7f2f4c8" target="_blank">v15</a></li>
        <li><a href="https://blog.angular.dev/angular-v16-is-here-4d7a28ec680d" target="_blank">v16</a></li>
        <li><a href="https://blog.angular.dev/introducing-angular-v17-4d7033312e4b" target="_blank">v17</a></li>
        <li><a href="https://blog.angular.dev/angular-v18-is-now-available-e79d5ac0affe" target="_blank">v18</a></li>
        <li><a href="https://blog.angular.dev/meet-angular-v19-7b29dfd05b84" target="_blank">v19</a></li>
        <li><a href="https://blog.angular.dev/announcing-angular-v20-b5c9c06cf301" target="_blank">v20</a></li>
    </ul>

    <aside class="notes">
        Angular versions stay supported for 18 months after initial release. So 3 versions are always in support.
        The latest release will get new features and the other two will receive security and critical fixes.
        v9 - Ivy Compiler, v13 - IE11 dead, v14 - Standalone Components, v16 - Signals, v17 - New Control Flow, v19 -
        Hot module replacement, v20 - Zoneless + Stability.
    </aside>
</section>
