/* You can add global styles to this file, and also import other style files */
@import 'reveal.js/dist/reveal.css';
// Full list of highlight themes: https://highlightjs.org/demo
@import 'highlight.js/styles/atom-one-dark-reasonable.css';

// Some global styles for the presentation
body {
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow: hidden;
}

app-presentation {
    display: block;
    height: 100vh;
}

.reveal {
    height: 100%;
}
